/* Login Form */

#contact .view {
  background-image: url('https://i.ytimg.com/vi/wYvIP2MoFGY/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
    height: 1300px;
  }
  
  #contact .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  
  #contact .card {
    background-color: rgba(126, 123, 215, 0.2);
  }
  
  #contact h6 {
    line-height: 1.7;
  }
  
  #contact .navbar {
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  
  #contact .top-nav-collapse {
    background: #424f95 !important;
  }
  
  @media (max-width: 768px) {
    #contact .navbar:not(.top-nav-collapse) {
        background: #424f95 !important;
    }
  }
  
  #contact label {
    color: #fff!important;
  }